<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>blog-admin</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="/static/editor/css/medium-editor.min.css" rel="stylesheet" />
    <link href="/static/editor/css/themes/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body class="bg-light">
    <nav
      th:fragment="header"
      class="navbar navbar-expand-lg navbar-dark bg-dark"
    >
      <div class="container">
        <a class="navbar-brand text-white px-2" th:href="@{/admin/home}"
          >blog-admin</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample07"
          aria-controls="navbarsExample07"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/admin/users}">Benutzer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/admin/ads}">Werbung</a>
            </li>
          </ul>
    
          <ul class="navbar-nav mt-md-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                id="loggedIn"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span sec:authentication="name">USER</span>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="loggedIn"
              >
                <!-- <li><hr class="dropdown-divider" /></li> -->
                <form th:action="@{/logout}" method="post">
                  <li>
                    <input
                      class="dropdown-item"
                      th:href="@{/logout}"
                      type="submit"
                      value="Logout"
                    />
                  </li>
                </form>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div th:fragment="footer">
      <script src="/static/bootstrap.bundle.min.js"></script>
      <script src="/static/masonry.pkgd.min.js"></script>
      <script src="/static/editor/js/medium-editor.min.js"></script>
    </div>
  </body>
</html>
