<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>blog</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body class="bg-light">
    <nav
      th:fragment="header"
      class="navbar navbar-expand-lg bg-white"
      aria-label="Eighth navbar example"
    >
      <div class="container">
        <a class="navbar-brand" href="/">blog</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample07"
          aria-controls="navbarsExample07"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse d-flex justify-content-between"
          id="navbarsExample07"
        >
          <form class="form-inline mr-auto" method="get" th:action="@{/search}">
            <div class="input-group">
              <input
                class="form-control"
                name="q"
                required=""
                th:value="${query != ''?query:''}"
                placeholder="Jetzt suchen..."
                style="border-color: gray; width: 300px"
              />
              <button
                type="submit"
                class="btn btn-primary"
                style="background-color: gray; border-color: gray"
              >
                Suchen
              </button>
            </div>
          </form>

          <ul class="navbar-nav">
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
              <a
                class="nav-link dropdown-toggle"
                id="loggedIn"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span sec:authentication="name">USER</span>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="loggedIn"
              >
                <li>
                  <a
                    class="dropdown-item"
                    th:href="@{/users/}+${#authentication.getPrincipal().getId()}"
                    >Meine Timeline</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/articles/create}"
                    >Artikel schreiben</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/users/{id}/edit(id=${#authentication.getPrincipal().getId()})}"
                    >Benutzerdaten bearbeiten</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/users/socialmedia}"
                    >Social-Media Links</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/auth/resetpassword(title='Neues Passwort setzen')}"
                    >Passwort ändern</a
                  >
                </li>
                <th:block
                  th:if="${#authentication.getPrincipal() != 'anonymousUser'} AND ${#authentication.getPrincipal().getUserRole() == 'ADMIN'}"
                >
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item bg-dark text-white"
                      th:href="@{/admin/home}"
                      >AdminPanel</a
                    >
                  </li>
                </th:block>
                <li><hr class="dropdown-divider" /></li>
                <form th:action="@{/logout}" method="post">
                  <li>
                    <input
                      class="dropdown-item"
                      th:href="@{/logout}"
                      type="submit"
                      value="Logout"
                    />
                  </li>
                </form>
              </ul>
            </li>

            <li class="nav-item" sec:authorize="isAnonymous()">
              <a class="nav-link" th:href="@{/register}">Registrieren</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
              <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div th:fragment="footer" class="bg-white">
      <footer class="container pt-4 mt-md-5 py-md-5">
        <div class="row">
          <div class="col-12 col-md">
            <h1>blog</h1>
            <small class="d-block mb-3 text-muted">&copy; 2017–2022</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#"
                  >Cool stuff</a
                >
              </li>
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#"
                  >Random feature</a
                >
              </li>
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#"
                  >Team feature</a
                >
              </li>
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#"
                  >Stuff for developers</a
                >
              </li>
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#"
                  >Another one</a
                >
              </li>
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#"
                  >Last time</a
                >
              </li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#"
                  >Resource</a
                >
              </li>
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#"
                  >Resource name</a
                >
              </li>
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#"
                  >Another resource</a
                >
              </li>
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#"
                  >Final resource</a
                >
              </li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#">Team</a>
              </li>
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#"
                  >Locations</a
                >
              </li>
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#"
                  >Privacy</a
                >
              </li>
              <li class="mb-1">
                <a class="link-secondary text-decoration-none" href="#"
                  >Terms</a
                >
              </li>
            </ul>
          </div>
        </div>
        <script src="/static/bootstrap.bundle.min.js"></script>
        <script src="/static/masonry.pkgd.min.js"></script>
      </footer>
    </div>
  </body>
</html>
