<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head"></head>
  <body class="bg-light">
    <head th:replace="layout :: header"></head>

    <div class="container mt-2">
      <div class="row d-flex justify-content-center">
        <div class="col-4 mt-4">

          <form th:action="@{/login}" method="POST">
            <h1 class="h3 fw-normal text-center">Login</h1>

            <div class="alert alert-danger mt-3" th:if="${param.error}">Invalid username and password.</div>
            <div class="alert alert-success mt-3" th:if="${param.logout}">You have been logged out.</div>

            <div class="form-floating mt-3">
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                placeholder="Nutzername"
              />
              <label for="username">Nutzername</label>
            </div>

            <div class="form-floating mt-3">
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                placeholder="Passwort"
              />
              <label for="password">Passwort</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">
              Einloggen
            </button>

            <span class="text-center mt-3 d-block"><a href="">Passwort Vergessen?</a></span>
          </form>
        </div>
      </div>
    </div>

    <head th:replace="layout :: footer"></head>
  </body>
</html>
