<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body class="bg-light">
    <div class="card m-2" th:fragment="article (article)">
      <img
        th:if="${article.banner != ''}"
        th:src="${article.banner}"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title h5" th:text="${article.title}"></h5>
        <p
          class="card-text"
          th:if="${article.teaser != ''}"
          th:text="${article.teaser}"
        ></p>
        <div class="d-flex justify-content-between mt-4 g-1">
          <a
            th:href="@{/articles/}+${article.id}"
            class="btn btn-outline-secondary flex-fill mx-1"
            >Lesen <i class="bi bi-arrow-up-right"></i></a
          >
        </div>
      </div>

      <div class="card-footer text-muted">
        <span
          th:text="${#dates.format(article.publishDate, 'dd.MM.yyyy HH:mm')}"
        ></span>
      </div>
    </div>
  </body>
</html>
