<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head"></head>
  <body class="bg-light">
    <head th:replace="layout :: header"></head>

    <div class="container mt-3">
      <div class="row d-flex justify-content-center">
        <div class="col-6">
          <div
            class="alert alert-success"
            th:if="${success != null}"
            th:text="${success}"
          ></div>

          <h1 class="h2" th:text="${article.title}"></h1>
          <p th:text="${article.teaser}"></p>

          <div class="row px-2">
            <div class="col-md-1 g-1">
              <img
                th:src="${article.author.profilePicture != null?article.author.profilePicture:'/static/noimg.png'}"
                class="img-fluid rounded"
              />
            </div>
            <div class="col-md-11 ">
              <a
                class="align-middle"
                th:href="@{/users/}+${article.author.id}"
                th:text="${article.author.username}"
              ></a
              ><br />
              <small class="text-muted align-middle"
                >Veröffentlicht am
                <span
                  th:text="${#dates.format(article.publishDate, 'dd.MM.yyyy')}"
                ></span>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-3" th:if="${article.banner != ''}">
      <div class="row d-flex justify-content-center">
        <div class="col-8">
          <img th:src="${article.banner}" class="img-fluid w-100" />
        </div>
      </div>
    </div>

    <div class="container mt-3">
      <div class="row d-flex justify-content-center">
        <div class="col-6">
          <p th:utext="${article.text}"></p>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-8 mt-5">
        <h2 class="h3 text-center">Ähnliche Artikel</h2>
        <div class="row" data-masonry='{"percentPosition": true }'>
          <th:block th:each="article : ${similarArticles}">
          <div class="p-0 col-12 col-md-6 col-lg-4">
            <div th:replace="fragments/article/preview_card :: article (article=${article})"></div>
          </div>
        </th:block>
        </div>
      </div>
    </div>

    <head th:replace="layout :: footer"></head>
  </body>
</html>
